html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}


.grid-container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;

}

.col1{
    background-color: black;
    background-image: url('img/bg.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: right, left; */
    background-position: center;
    /* border-radius: 10px; */

}
.col2, form{
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
}

.col2{
    padding-top: 90px;
    align-items: center;
}

form{
    width: 260px;
}

form *{
    margin-bottom: 14px;
}

form span{
    text-align: center;
}

form input, form button{
    border-radius: 6px;
    height: 36px;

}

form button{
    background-color: #2c2c2c;
    color: #fff;
}

.dont-account{
    position: absolute;
    bottom: 48px;
}
.row{
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.mt-6{
    margin-top: 6px;
}
.mt-10{
    margin-top: 10px;
}
.mt-14{
    margin-top: 14px;
}

.title{
    font-size: 18px;
    font-weight: 600;
}
.subtitle{
    font-size: 16px;
}

.text-muted{
    color: #8e8e8e;
}