body, html{
    background-color: #333;
    color: orange;
    font-family: Arial, sans-serif;

    margin: 0;
    width: 100%;
    height: 100%;
}

header {
    background-color: #222;
    padding: 20px;
    top: 0;
    left: 0;
    width: 100%;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: orange;
    text-decoration: none;
}

main {
    padding: 20px;
    margin-bottom: 300px;
    padding-top: 260px;
    scroll-padding-top: 360px;
}

section {
    margin-bottom: 20px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

footer {
    background-color: #222;
    padding: 20px;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
}

#imgUsuario{
    height: 200px;
    width: 300px;
}
#pSobre, p{
    line-height: 25px;
}

button{

    border-radius: 5px;
    background: linear-gradient(145deg, #5a5a5a, #4c4c4c);
    box-shadow:  20px 20px 60px #474747, -20px -20px 60px #616161;
    color: #ffa500;

}

.animacao {
    width: 100px;
    height: 100px;
    position: relative;
    animation: mover 2s ease-in-out infinite alternate; /* Nome da animação, duração, timing-function, repetição */
}

@keyframes mover {
    0% {
        left: 0;
    }
    100% {
        left: calc(30% - 100px); /* Move o elemento para a direita até o final da tela */
    }
}
