body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 70px 1fr; 
    grid-template-columns: 120px 1fr; 
    grid-template-areas: 
        "header header"
        "sidebar main";
    height: 100vh; 
}

header {
    grid-area: header;
    background-color: #3498db; 
    color: white;
    text-align: center;
    line-height: 70px; 
}

aside {
    grid-area: sidebar;
    background-color: #2ecc71; 
    color: white;
    text-align: center;
    line-height: 50px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    padding: 20px;
}

main {
    grid-area: main;
    background-color: #e74c3c; 
    color: white;
    padding: 20px;
}


button{
    border: 0px;
    border-radius: 5px;
}
#btRosa{
    background-color: #ff00ff;
}
#btAmarelo{
    background-color: #ffff00;
}
#btVerde{
    background-color: #00ff00;
}